body { margin:0; font-family: Arial; }
#map { width: 100vw; height: 100vh; }
#panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #111;
  color: #fff;
  padding: 15px;
  overflow-y: auto;
}
